@import url(../../styles/fonts.css);
@import url(../../styles/normalize.css);

.accordion {
    border: 0.1rem solid gray;
    padding: 0 0 0 2rem;
    margin: .5rem;
    border-radius: 1.5rem;
}

.accordion__title {
    user-select: none;
    border: initial;
    background-color: initial;
    padding: initial;
}